{%extends 'base.html'%} {%block content%}
<div class="container-fluid">
    <!-- Page Heading -->

    <h1 class="h3 mb-4 text-gray-800">All Teams</h1>
</div>
<div class="row">
    {%for team in teams%}

    <div class="col-xl-3 col-md-6 mb-4">
        <a href="/ownTeam/{{team.id}}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">OWNED BY {{team.owner}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{team.name}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-futbol fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {%endfor%}
</div>
{%endblock%}