{%extends 'base.html'%} {%block content%}
<div class="container-fluid">
    <!-- Page Heading -->

    <h1 class="h3 mb-4 text-gray-800">All Users</h1>
</div>
<div class="row">
    {%for user in users%}

    <div class="col-xl-3 col-md-6 mb-4">
        <a href="/user/{{user.id}}">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{%if user.role == "C"%} CREATOR {%else%} GUEST {%endif%}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{user.username}}</div>
                            <hr>
                            <div>
                                <p style="padding: 0 0 0 0;"><strong>Name:</strong> {{user.name}}</p>
                                <p><strong>Surname:</strong> {{user.surname}}</p>
                                <p><strong>E-mail:</strong> {{user.email}}</p>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {%endfor%}
</div>
{%endblock%}