{%extends 'base.html'%} {%block content%}
<style>
    .playerFormMain {
        background-color: #FFFFFF;
        width: 310px;
        height: auto;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
        padding-bottom: 30px;
        margin-left: 80px;
        margin-top: 10px;
        margin: 10px 0 0 60px;
    }
    
    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: #fff;
        background-color: dodgerblue;
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        margin-left: 35%;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    }
    
    .submit:disabled {
        cursor: none;
    }
    
    #id_filelabel,
    #id_name {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    #id_image {
        display: none;
    }
    
    p>strong {
        margin-right: 6%;
    }
    
    .col p {
        margin: 2px 0 0 0;
    }
    
    .win {
        background-color: #00FF55;
        width: 30px;
        height: 30px;
        border-radius: 12px;
        color: white;
        padding: 5px 0 0 7px;
        margin: 10px;
    }
    
    .defeat {
        background-color: rgb(255, 0, 0);
        width: 30px;
        height: 30px;
        border-radius: 12px;
        color: white;
        padding: 5px 0 0 10px;
        margin: 10px;
    }
    
    .draw {
        background-color: rgb(255, 187, 0);
        width: 30px;
        height: 30px;
        border-radius: 12px;
        color: white;
        padding: 5px 0 0 10px;
        margin: 10px;
    }
    
    a:hover {
        text-decoration: none;
    }
</style>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">{{team.name}} Players</h1>

</div>
<div class="row" style="padding-left: 10px;">

    {%for player in players%}
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <a href="/playerProfile/{{player.id}}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{player.pin}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{player.number}}, {{player.name}} {{player.lastname}}</div>
                        </div>
                        <div class="col-auto">
                            <img src="{{player.image.url}}" style="width: 130px !important;">
                        </div>
                        <br>
                    </div>
                </div>
            </a>
            <a href="/deletePlayer/{{player.id}}" class="btn btn-danger btn-circle" style="margin-left: 10px;" data-toggle="modal" data-target="#deletePlayerModal">
                <i class="fas fa-trash"></i>
            </a>
            <div class="modal fade" id="deletePlayerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">You sure?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                  </button>
                        </div>
                        <div class="modal-body">Select "Delete" if you want to delete this player.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-danger btn-icon-split" href="/deletePlayer/{{player.id}}">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                  </span>
                                <span class="text" style="background: inherit;">Delete</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {%endfor%}
</div>
<div class="col-lg-6">
    <a href="/addPlayer/{{team.id}}" class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
              <i class="fas fa-plus"></i>
            </span>
        <span class="text" style="background-color:inherit;">Add new player</span>
    </a>
</div>
<br>

<div class="card mb-4">
    <div class="card-header">
        Team Image
    </div>
    <div class="card-body" style="padding-left: 25%;">
        <img src="{{team.image.url}}" style="max-width: 70%; border-radius: 10px;">
    </div>
</div>


<div class="card mb-4">
    <div class="card-header">
        Team Stats
    </div>
    <div class="card-body">
        <div class="card-body">
            <hr>
            <div class="row">

                <strong style="font-size: 19px; margin-right: 50px;"> FORM </strong> {%for match in matches10%} {%if match.winner_id == team.id%}
                <a href="/match/{{match.id}}">
                    <div class="win">W</div>
                </a> {%endif%} {%if match.team1_goals == match.team2_goals%}
                <a href="/match/{{match.id}}">
                    <div class="draw">D</div>
                </a> {%endif%}{%if match.winner_id != team.id%}
                <a href="/match/{{match.id}}">
                    <div class="defeat">L</div>
                </a> {%endif%} {%endfor%} {%if trophies%}<strong style="font-size: 19px; margin-right: 50px; margin-left: 50px;"> TROPHIES </strong> {%for trophy in trophies%}<a href="/tournament/{{trophy.id}}"> {%if trophy.winner == team%}<i class="fas fa-medal fa-3x" style="color:gold; margin-left: 20px;" ;></i> {%endif%} {%if trophy.runner == team%}<i class="fas fa-medal fa-3x" style="color:silver; margin-left: 20px;" ;></i> {%endif%} {%if trophy.bronzer == team%}<i class="fas fa-medal fa-3x" style="color:#cd7f32; margin-left: 10px;" ></i> {%endif%} </a>{%endfor%}{%endif%}
            </div>
            <hr>

        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        Last Matches
    </div>
    <div class="card-body" style="text-align: center;">
        {%for match in matches10%}
        <div class="row bg-white align-items-center ml-0 mr-0 py-4 match-entry">
            <div class="col-md-4 col-lg-4 mb-4 mb-lg-0">

                <div class="text-center text-lg-left">
                    <div class="d-block d-lg-flex align-items-center">
                        <div class="image image-small text-center mb-3 mb-lg-0 mr-lg-3">
                            <img src="{{match.team1.image.url}}" alt="Image" class="img-fluid">
                        </div>
                        <div class="text order-1 w-100" style="background: none; color: black;">
                            <a href="/othTeam/{{match.team1.id}}">
                                <h3 class="h5 mb-0 text-black">{{match.team1.name}}</h3>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-lg-4 text-center mb-4 mb-lg-0">
                <div class="d-inline-block">
                    <a href="/match/{{match.id}}">
                        <div class="bg-black py-2 px-4 mb-2 text-white d-inline-block rounded" style="background-color: black;"><span class="h5">{{match.team1_goals}}:{{match.team2_goals}} </span></div>
                    </a>
                    <p class="mb-0"><small class="text-uppercase text-black font-weight-bold">{{match.datetime}}</small></p>
                    <p class="mb-0" onclick="document.getElementById('id{{match.id}}').style.display='block'" class="timedate" style="cursor: pointer;"><small class="text-uppercase text-black font-weight-bold">  {{match.date}} </small></p>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 text-center text-lg-right">
                <div class="">
                    <div class="d-block d-lg-flex align-items-center">
                        <div class="image image-small ml-lg-3 mb-3 mb-lg-0 order-2">
                            <img src="{{match.team2.image.url}}" alt="Image" class="img-fluid">
                        </div>
                        <div class="text order-1 w-100" style="background: none; color: black;">
                            <a href="/othTeam/{{match.team2.id}}">
                                <h3 class="h5 mb-0 text-black">{{match.team2.name}}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr> {%endfor%}
    </div>
    <!-- /.container-fluid -->
</div>
<hr>
<a class="btn btn-danger btn-icon-split" href="/deleteTeam/{{team.id}}" data-toggle="modal" data-target="#deleteTeamModal">
    <span class="icon text-white-50">
        <i class="fas fa-trash"></i>
      </span>
    <span class="text" style="background: inherit;">DELETE THIS TEAM</span>
</a>
<a class="btn btn-primary btn-icon-split" data-toggle="modal" data-target="#changeTeamData">
    <span class="icon text-white-50">
        <i class="fas fa-info"></i>
      </span>
    <span class="text" style="background: inherit;">CHANGE TEAM DATA</span>
</a>
<hr>
<div class="modal fade" id="deleteTeamModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">You sure?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
            </div>
            <div class="modal-body">Select "Delete" if you want to delete your team.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-icon-split" href="/deleteTeam/{{team.id}}">
                    <span class="icon text-white-50">
                        <i class="fas fa-trash"></i>
                      </span>
                    <span class="text" style="background: inherit;">Delete</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeTeamData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change data</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
            </div>
            <div style="padding: 5% 0 5% 0;">
                <form method="POST" enctype='multipart/form-data'>
                    <label id="id_filelabel" for="id_image" style="display: inline-block; cursor: pointer;">change image</label><img style="margin:0 0 8% 25%; max-width: 50%;;" src="{{team.image.url}}"><br> {{form.image}} {{form.name}} {%csrf_token%}
                    <input type="submit" class="submit" align="center" value="Enter">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}